@use '../abstracts/index' as abs;

.hero {
    padding: 10px;
    display: flex;
    &__container {
        width: 50%;
        nav {
            margin-bottom: 200px;
            ul{
                @include abs.reset-list();
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a.video {
                        margin-left: 80px;
                        text-decoration: none;
                        color: abs.$primary-color;
                        display: inline-block;
                        position: relative;
                        z-index: 10;
                        transition: font-size 0.4s ease;
                        &::before {
                            content: "";
                            width: 70px;
                            height: 70px;
                            top: 24px;
                            left: -70px;
                            transform: translateY(-50%);
                            position: absolute;
                            background-image: url('../../img/watch-icon.svg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        &:hover {
                            font-size: 20px;
                            text-decoration: underline;
                        }
                    }
                    
                    &:first-of-type{
                        a {
                            color: white;
                            text-decoration: none;
                            @include abs.button(abs.$primary-color, abs.$secondary-color);
                        }
                    }
                }

            }
        }
        .items {
            background-color: rgb(250, 239, 239); 
            display: flex;
            gap: 20px;
            article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgb(250, 239, 239);
                padding: 20px;
                img {
                    width: 70px;
                    height: 70px;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    color: abs.$primary-color;
                    margin: 20px 0 0 12px;
                    
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: abs.$secondary-color;
                    margin: 10px 0 0 12px;
                }
            }
        }
    }
    &__image {
        width: 50%;
        position: relative;
        .hero__image-principal {
            width: 190%;
            height: auto;
            position: absolute;
            top: -140px;
            right: -160px;
            object-fit: cover;
            z-index: 2;
        }
        .hero__image-marcaagua {
            position: absolute;
            top: 70px;
            left: 400px;
            transform: translate(-50%, -50%);
            width: 60%;
            height: auto;
            z-index: 1;
        }
        .bocadillo {
            position: relative;
            z-index: 3;
            &__1 {
                position: absolute;
                top: 190px;
                left: 350px;
                width: 280px;
                height: auto;
                background-color: rgb(219, 219, 219, 0.9);
                color: abs.$black-color;
                padding: 15px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 400;
                .author {
                    color: abs.$primary-color;
                    font-weight: 700;
                }
            }
            &__2 {
                position: absolute;
                top: 500px;
                left: 250px;
                width: 280px;
                height: auto;
                background-color: rgb(219, 219, 219, 0.5);
                color: abs.$black-color;
                padding: 15px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 400;
                .author {
                    color: abs.$primary-color;
                    font-weight: 700;
                }
            }
        }
    }
    &__title {
        font-size: 57px;
        font-weight: 700;
        line-height: 80px;
        color: abs.$primary-color;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    &__description {
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 50px;
    }
}