@use '../abstracts/variables' as variables;

html * {
    font-family: variables.$primary-font

    
}
 
body {
    overflow-x: hidden;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
} 